# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
yarn-error.log

.idea

.cache/
src/gatsby-types.d.ts

.env

# IREN reports tracking files
iren-reports/.downloaded-urls
iren-reports/.new-reports.json
