
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



:root {
    /*  Gray
 *  ─────────────────────────────────── */

    --oc-gray-0: #f8f9fa;
    --oc-gray-0-rgb: 248, 249, 250;
    --oc-gray-1: #f1f3f5;
    --oc-gray-1-rgb: 241, 243, 245;
    --oc-gray-2: #e9ecef;
    --oc-gray-2-rgb: 233, 236, 239;
    --oc-gray-3: #dee2e6;
    --oc-gray-3-rgb: 222, 226, 230;
    --oc-gray-4: #ced4da;
    --oc-gray-4-rgb: 206, 212, 218;
    --oc-gray-5: #adb5bd;
    --oc-gray-5-rgb: 173, 181, 189;
    --oc-gray-6: #868e96;
    --oc-gray-6-rgb: 134, 142, 150;
    --oc-gray-7: #495057;
    --oc-gray-7-rgb: 73, 80, 87;
    --oc-gray-8: #343a40;
    --oc-gray-8-rgb: 52, 58, 64;
    --oc-gray-9: #212529;
    --oc-gray-9-rgb: 33, 37, 41;


    --bg-color: var(--oc-gray-0);
    --border-color: var(--oc-gray-1);
    --hover-color: var(--oc-gray-1);
    --title-color: var(--oc-gray-9);
    --subtitle-color: var(--oc-gray-9);
    --text-color: var(--oc-gray-9);
}


* {
    font-family: 'Nanum Gothic', 'Noto Sans', sans-serif;
    color: var(--text-color);
}

html{
    margin: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1rem
    
}


nav {
    font-size: x-large;
    font-weight: bold;
    margin: 2rem 0;
}


a {
    text-decoration: none;
    color: var(--text-color);
}

h1{
    font-size: xx-large;
    margin: 1rem 0;
    font-weight: bold;
}
h2{
    font-size: x-large;
    margin: 1rem 0;
    font-weight: bold;
}

p {
    margin: 1rem 0;
    line-height: 1.7rem;
}

blockquote {
    border-left: 4px solid var(--border-color);
    margin: 1em 0;
    padding: 0.5em 1em;
    font-style: italic;
    color: #555;
}

blockquote::before {
    content: none;
}



@media only screen and (max-width: 480px) {
    html {
        padding: 0.5rem;
    }
    nav{
        margin: 0.8rem 0;    
    }
}