* {
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
    font-weight: 300;
}

html, body {
    margin: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}

li, p {
    font-size: 1.15rem;
    line-height: 1.7rem;
    color: #333;
    font-weight: 500;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: .5em .5rem .5rem 2.0rem;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    margin-left: -0.5em;
    line-height: 0.1em;
    vertical-align: -0.7em;
}
