* {
font-family: 'Spoqa Han Sans', 'Sans-serif';
}


html, body{
margin: 0;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}


@media only screen and (max-width: 480px) {
html {
    font-size: 100%;
  }
}

p {
  line-height: 1.8;
}

.Wrapper{
  margin: 50px auto;
  max-width: 720px;
  padding: 0 1.0875rem 1.45rem;
}