* {
font-family: 'Sans-serif';
}


html, body{
margin: 0;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}


@media only screen and (max-width: 480px) {
html {
    font-size: 100%;
  }
}

p {
  line-height: 2.0;
  color: #333;
  font-weight: 300;
}

li {
  margin-bottom: 0.4rem;
}