* {
  
font-family: san-serif, serif, 'Spoqa Han Sans';
font-weight: 300;
}


html, body{
margin: 0;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}


@media only screen and (max-width: 480px) {
html {
    font-size: 100%;
  }
}

li, p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-weight: 500;
}